---
import IconCode from "../assets/icons/IconCode.astro";
const avatarImage = 'https://avatars.githubusercontent.com/u/118680999?s=400&v=4'
---

<section id='sobre-mi' class='w-full md:w-[720px] container mx-auto pt-32 pb-20'>
    <img
      class='size-20 rounded-full'
      src={avatarImage}
      alt='Imagen de perfil'
    />
    <article class='mt-8 mb-8'>
      <h2 class='flex gap-2 items-center text-4xl md:text-5xl font-extrabold mb-8'>
        <IconCode class='size-10 md:size-12' /><span class="animate-fade-right animate-once animate-ease-in">Israel Amat</span>

      </h2>
      <p class='text-2xl text-balance text-gray-300/90'>
        Desarrollador de <span class='text-sky-300'
          >software</span
        > <br> apasionado por el
        <span class='text-yellow-300'>la ciencia de datos y el desarrollo web</span>.
      </p>
    </article>
  </section>